# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Spring Boot
*.jar
*.war

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Application 설정 (DB 정보 보안)
src/main/resources/application.yml

# Wallet 설정 (DB 정보 보안)
**/Wallet/